[Unit]
Description = The simplest ruby applicaiton running with rackup

[Service]
Environment = PATH=/opt/rubies/ruby-2.6.5/bin:/usr/local/bin:/usr/bin:/bin
WorkingDirectory = /srv/bank-app
Type = simple
ExecStart = /opt/rubies/ruby-2.6.5/bin/bundle exec ruby app.rb

[Install]
WantedBy = multi-user.target

